body {
	background-color: lightgrey;
	font-family: "Open Sans"
}

#main {
	background-color: grey;
	width:100%;
	text-align: center;
	height:700px;
	padding-top:100px;
}

header {
	width:100%;
	background-color: lightgrey;
	height:120px;
	font-size: 60px;
	font-family: "Open Sans";
	text-align:center;
	margin-top:0px;
	padding-top:0px;
	font-weight:bold;
}

.input {
	height:50px;
	width: 320px;
	margin:10px;
	font-size:32px;


}

button {
	width:180px;
	height:45px;
	margin-top:10px;
	border-radius: 10px;
	font-size:24px;
}
#result {
	text-align:center;
	color:white;
	font-size:24px;
}

@media screen and (max-width: 768px) {   
    
    header {
    	font-size:40px;
    }
} 